body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.turbo-progress-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 3px;
  background-color: #ff003c;
  z-index: 2147483647;
  transition: width 0.2s, opacity 0.2s;
  opacity: 1;
  width: 0;
}
.turbo-progress-bar--active {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
